@import (reference) "../../../public/css/main.less";

body { background: @colorBG; }

@colorBG: #caefd0;;
@colorModifiableBtn: #f80;

.btn {
  background: @colorModifiableBtn;
  margin-bottom: 4px;
  margin-right: 4px;

  &:hover {
    background: @colorModifiableBtn * 1.1;
    //font-weight: bold;
    box-shadow: 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff;
    text-shadow: 0px 0px 3px #000, 0px 0px 3px #000, 0px 0px 3px #000;
    color: #fff;
  }

  .round();
  .shadowy();

  .icon {
    padding-left: 3px !important;
    padding-right: 3px !important;
    //font-size: 100%;
  }
}

a.btn {
  color: #000;
}

#upload-input {
  display: none;
}

.directory {
  .round();
  display: inline-block;
  padding: 10px;
  min-height: 100px;
  vertical-align: top;
}

.filenames {
  .round();
  min-width: 180px;
  display: inline-block;
  padding: 10px;
  background: #fff;
  line-height: 120%;

  li::before {
    content: ' - ';
  }
}

.zip {
  background: #ffa;
}

.target {
  background: #faa;
}

#spinner {

}

.clippy {
  position: relative;
}

.clippy-ok {
  position: absolute;
  left: 102%;
  top: -3px;
  padding: 5px;
  .round(5px);
  background: @colorBG * 0.8;
  color: @colorBG * 1.5;
  .shadow-dark();
  .box-shadow(0px 1px 1px #000);
  white-space: nowrap;
}

.popup {
  .label {
    display: inline-block;
    text-align: right;
    width: 180px;
    font-weight: bold;
    font-size: 120%;
    color: #000;

  }

  .title {
    padding-bottom: 10px;
  }

  .field {
    display: block;
    padding: 5px;
  }

  .long-field {
    width: 400px;
  }
}

.test() {
  border: solid 1px red;
}

.sheet {
  .round(5px);
  background: #fff;
  padding: 5px;
  margin-bottom: 5px;
  text-align: left;

  .col-1 {
    display: inline-block;
    width: 500px;
  }

  .col-2 {
    display: inline-block;
    width: 200px;
    text-align: left;
  }

  .timestamp {
    font-style: italic;
    color: #888;
  }
}

.header {
  font-weight: bold;
  text-align: left;
}

.btn-red, .btn-red:hover { background: #f00; }
.btn-yellow, .btn-yellow:hover { background: #fa0; }
.btn-green, .btn-green:hover { background: #0a0; }