@import "elements.less";

/////////////////////////////////////// COMMON HTML TAGS

body { background: #ececef; }
h1,h2,h3,h4,h5 { margin: 0; display: inline-block; }

/////////////////////////////////////// TOP-LEVEL CLASSES & IDs

#container {
  position: relative;
  padding: 10px;
}

.navbar { margin: 0; }
.box-error { background: #f00; }
.box-info { background: #8af; }
.box {
  white-space: pre;
  display: none;
  position: fixed;
  z-index: 9999;
  top: 5px;
  left: 5px;
  right: 5px;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
}

/////////////////////////////////////// CLASSES for margin / position / floats / font styling.

.float-left { float: left; }
.float-right { float: right; }

.icon-x-large { font-size: 3.0em; }
.icon-large { font-size: 2.0em; }
.icon-med { font-size: 1.5em; }
.icon-small { font-size: 0.8em; }

.margin-h(@x) { margin-left: @x; margin-right: @x; }
.margin-h-10 { .margin-h(10px); }
.margin-h-20 { .margin-h(20px); }
.margin-h-30 { .margin-h(30px); }

.shadow-lite { text-shadow: #fff 1px 1px 1px; }
.shadow-dark { text-shadow: #222 1px 1px 1px; }
.shadowy { text-shadow: #fff 0px 1px 2px; }

.hidden { display: none; }

.digits-1 { width: 1em; }
.digits-2 { width: 2em; }
.digits-3 { width: 3em; }
.digits-4 { width: 4em; }
.digits-5 { width: 5em; }

.padded-1 { padding: 1px; }
.padded-2 { padding: 3px; }
.padded-3 { padding: 5px; }
.padded-4 { padding: 7px; }
.padded-5 { padding: 9px; }

.round(@round: 10px) {
  border-radius: @round;
}

/////////////////////////////////////// CLASSES for EVERYTHING ELSE!

.git-info {
  position: fixed;
  display: inline-block;
  bottom: 2px;
  right: 2px;
  padding: 6px;
  font-size: 10px;
  border-radius: 10px;
  background-color: #888;
  a { color: #fff; }
}