body {
  background: #acf;
}
.header {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  user-select: none;
}
.title {
  width: 180px;
}
.sidebar {
  display: inline-block;
  position: relative;
  font-size: 0.9em;
  vertical-align: bottom;
  margin-left: 10px;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.sidebar .button {
  position: relative;
  display: inline-block;
  white-space: normal;
  width: 120px;
  margin: 2px;
  padding: 6px;
}
.sidebar .save,
.sidebar .recover,
.sidebar .clear {
  width: 70px;
}
.sidebar .save {
  background: rgba(57, 177, 77, 0.75);
}
.sidebar .recover {
  background: #08f;
}
.sidebar .clear {
  background: #f00;
}
.button {
  display: block;
  background: #aaa;
  padding: 3px 15px 3px 15px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  text-shadow: #fff 0px 1px 2px;
}
.button:hover {
  background: #ccc;
}
.button:active,
.button.active {
  background: #444;
  color: #fff;
}
#details {
  display: none;
  position: relative;
  top: 5px;
  left: 0px;
  right: 0px;
  padding: 5px;
  min-height: 30px;
  margin-bottom: 100px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
}
.col-1,
.col-2 {
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.numeric-prop {
  padding: 3px;
}
.numeric-prop .col-1 {
  width: 200px;
  text-align: right;
  text-shadow: #fff 0px 1px 2px;
}
.numeric-prop .col-2 input {
  width: 80px;
  text-align: right;
}
.btn {
  padding: 10px;
  background: rgba(57, 177, 77, 0.75);
  border-radius: 10px;
  text-shadow: #fff 0px 1px 2px;
}
.light-item,
.action-item {
  margin-bottom: 5px;
}
.light-item.isSelected .btn,
.action-item.isSelected .btn {
  background: #44d45c;
  color: #fff;
}
.light-item {
  padding: 0;
}
.light-item .ring-sequence,
.light-item .strip-sequence {
  display: inline-block;
  margin: 0;
  border: solid 1px #000;
}
.light-sequence {
  overflow: hidden;
}
.light-sequence .col-1,
.light-sequence .col-2 {
  display: block;
}
.light-sequence div {
  vertical-align: top;
}
.light-sequence h3 {
  text-shadow: #fff 0px 1px 2px;
  font-size: 1.1em;
  border-radius: 10px;
  background: rgba(0, 0, 255, 0.5);
  padding: 5px;
}
.light-sequence .col-1 {
  width: 100px;
  float: left;
}
.light-sequence .col-2 {
  margin-left: 100px;
}
.light-sequence .panel {
  width: 100%;
  display: block;
  padding: 2px;
  border-radius: 10px;
  margin: 0;
}
.light-sequence .panel .ring-sequence,
.light-sequence .panel .strip-sequence {
  display: inline-block;
  width: 49%;
}
@media screen and (max-width: 680px) {
  body {
    font-size: 95%;
  }
}
@media screen and (max-width: 604px) {
  .sidebar {
    position: absolute;
    top: 55px;
    left: 0px;
    right: 5px;
    overflow-x: visible;
    overflow-y: visible;
    white-space: normal;
  }
  #details {
    top: 55px;
  }
}
@media screen and (max-width: 483px) {
  #details {
    top: 90px;
  }
}
@media screen and (max-width: 292px) {
  #details {
    top: 120px;
  }
  .numeric-prop .col-1 {
    text-align: left;
    width: 100%;
  }
  .numeric-prop .col-2 input {
    text-align: left;
  }
}
@media screen and (max-width: 227px) {
  #details {
    top: 150px;
  }
  .numeric-prop .col-1 {
    text-align: left;
    width: 100%;
  }
  .numeric-prop .col-2 input {
    text-align: left;
  }
}
