/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  background: #ececef;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  display: inline-block;
}
#container {
  position: relative;
  padding: 10px;
}
.navbar {
  margin: 0;
}
.box-error {
  background: #f00;
}
.box-info {
  background: #8af;
}
.box {
  white-space: pre;
  display: none;
  position: fixed;
  z-index: 9999;
  top: 5px;
  left: 5px;
  right: 5px;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.icon-x-large {
  font-size: 3.0em;
}
.icon-large {
  font-size: 2.0em;
}
.icon-med {
  font-size: 1.5em;
}
.icon-small {
  font-size: 0.8em;
}
.margin-h-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.margin-h-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.margin-h-30 {
  margin-left: 30px;
  margin-right: 30px;
}
.shadow-lite {
  text-shadow: #fff 1px 1px 1px;
}
.shadow-dark {
  text-shadow: #222 1px 1px 1px;
}
.shadowy {
  text-shadow: #fff 0px 1px 2px;
}
.hidden {
  display: none;
}
.digits-1 {
  width: 1em !important;
}
.digits-2 {
  width: 2em !important;
}
.digits-3 {
  width: 3em !important;
}
.digits-4 {
  width: 4em !important;
}
.digits-5 {
  width: 5em !important;
}
.spacer-1 {
  margin-left: 1em;
}
.spacer-2 {
  margin-left: 2em;
}
.spacer-3 {
  margin-left: 3em;
}
.spacer-4 {
  margin-left: 4em;
}
.spacer-5 {
  margin-left: 5em;
}
.padded-1 {
  padding: 1px;
}
.padded-2 {
  padding: 3px;
}
.padded-3 {
  padding: 5px;
}
.padded-4 {
  padding: 7px;
}
.padded-5 {
  padding: 9px;
}
.margin-top-1 {
  margin-top: 1px;
}
.margin-top-2 {
  margin-top: 3px;
}
.margin-top-3 {
  margin-top: 5px;
}
.margin-top-4 {
  margin-top: 7px;
}
.margin-top-5 {
  margin-top: 9px;
}
.v-align-mid > * {
  display: inline-block;
  vertical-align: middle;
}
.v-align-bottom > * {
  display: inline-block;
  vertical-align: bottom;
}
.inline-block {
  display: inline-block;
}
.border {
  outline: 2px #000;
}
.dropdown {
  display: inline-table;
}
.dropdown-list {
  width: 50vw;
  position: absolute;
  display: inline-block;
  padding: 6px;
  background: #fff;
  column-count: 3;
  column-width: 90px;
  border: solid 2px #000;
  z-index: 9999;
  margin-bottom: 20px;
  border-radius: 10px;
}
.dropdown-list div {
  padding: 2px;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
}
.dropdown-list div:hover {
  background: #22f;
  color: #fff;
}
.nowrap {
  white-space: nowrap;
}
.git-info {
  position: fixed;
  display: inline-block;
  bottom: 2px;
  right: 2px;
  padding: 6px;
  font-size: 10px;
  border-radius: 10px;
  background-color: #888;
}
.git-info a {
  color: #fff;
}
body {
  background: #acf;
}
.header {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  user-select: none;
}
.title {
  width: 180px;
}
.sidebar {
  display: inline-block;
  position: relative;
  font-size: 0.9em;
  vertical-align: bottom;
  margin-left: 10px;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.sidebar .button {
  position: relative;
  display: inline-block;
  white-space: normal;
  width: 120px;
  margin: 2px;
  padding: 6px;
}
.sidebar .save,
.sidebar .recover,
.sidebar .clear {
  width: 70px;
}
.sidebar .save {
  background: rgba(57, 177, 77, 0.75);
}
.sidebar .recover {
  background: #08f;
}
.sidebar .clear {
  background: #f00;
}
.sidebar .busy {
  background: #888 !important;
  opacity: 0.6;
}
.button {
  display: block;
  background: #aaa;
  padding: 3px 15px 3px 15px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  text-shadow: #fff 0px 1px 2px;
}
.button:hover {
  background: #ccc;
}
.button:active,
.button.active {
  background: #444;
  color: #fff;
}
#details {
  display: none;
  position: relative;
  top: 5px;
  left: 0px;
  right: 0px;
  padding: 5px;
  min-height: 30px;
  margin-bottom: 100px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
}
.col-1,
.col-2 {
  vertical-align: top;
}
.numeric-prop {
  padding: 3px;
}
.numeric-prop .col-1 {
  width: 200px;
  text-align: right;
  text-shadow: #fff 0px 1px 2px;
}
.numeric-prop .col-2 input {
  width: 80px;
  text-align: right;
}
.btn {
  background: rgba(57, 177, 77, 0.75);
  margin-bottom: 4px;
  margin-right: 4px;
  border-radius: 10px;
  text-shadow: #fff 0px 1px 2px;
}
.btn:hover {
  background: #3fc355;
  box-shadow: 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff;
  text-shadow: 0px 0px 3px #000, 0px 0px 3px #000, 0px 0px 3px #000;
  color: #fff;
}
.btn .icon {
  padding-left: 3px !important;
  padding-right: 3px !important;
  padding-bottom: 10px !important;
}
.item.isSelected .btn {
  background: #44d45c;
  color: #fff;
}
.light-item,
.action-item {
  margin-bottom: 5px;
}
.light-item {
  padding: 0;
}
.light-item .ring-sequence,
.light-item .strip-sequence {
  display: inline-block;
  margin: 0;
  border: solid 1px #000;
}
.definable-values .col-1,
.definable-values .col-2 {
  display: inline-block;
}
.definable-values .col-1 {
  width: 200px;
}
.light-sequence,
.action-sequence {
  overflow: hidden;
}
.light-sequence div,
.action-sequence div {
  vertical-align: top;
}
.light-sequence h3,
.action-sequence h3 {
  text-shadow: #fff 0px 1px 2px;
  font-size: 1.1em;
  background: rgba(0, 0, 255, 0.5);
  padding: 5px;
  border-radius: 10px;
}
.light-sequence .col-1,
.action-sequence .col-1 {
  width: 150px;
  max-width: 150px;
}
.light-sequence .panel .ring-sequence,
.light-sequence .panel .strip-sequence {
  display: inline-block;
  width: 49%;
}
.view {
  overflow: visible;
}
.view table {
  table-layout: fixed;
  border-spacing: 8px;
  border-collapse: separate;
}
.panel {
  width: 100%;
  display: block;
  padding: 2px;
  margin: 0;
  overflow: visible;
  border-radius: 10px;
}
.side-left .btn {
  width: 100%;
  white-space: normal;
}
.action-header i {
  display: inline-block;
  width: 100px;
  margin-right: 3px;
  text-align: right;
}
.action-param {
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 3px;
  border-radius: 10px;
}
.ara-command {
  width: 150px;
}
.ara-command-panel {
  top: 0vh;
  left: 0vw;
}
@media screen and (max-width: 767px) {
  .sidebar {
    position: absolute;
    top: 55px;
    left: 0px;
    right: 5px;
    overflow-x: visible;
    overflow-y: visible;
    white-space: normal;
  }
  #details {
    top: 55px;
  }
}
@media screen and (max-width: 584px) {
  #details {
    top: 90px;
  }
}
@media screen and (max-width: 368px) {
  #details {
    top: 120px;
  }
  .numeric-prop .col-1 {
    text-align: left;
    width: 100%;
  }
  .numeric-prop .col-2 input {
    text-align: left;
  }
}
@media screen and (max-width: 240px) {
  #details {
    top: 180px;
  }
  .numeric-prop .col-1 {
    text-align: left;
    width: 100%;
  }
  .numeric-prop .col-2 input {
    text-align: left;
  }
}
