body {
  background: #acf;
}
.header {
  white-space: nowrap;
  user-select: none;
  margin-bottom: 5px;
}
.title {
  width: 180px;
}
.json-link {
  border-radius: 10px;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
  background: #888;
  color: #000;
}
.sheet-names {
  width: 200px;
}
.sidebar,
.topbar {
  display: inline-block;
  position: relative;
  font-size: 0.9em;
  vertical-align: bottom;
  padding: 5px;
  overflow-x: visible;
  overflow-y: visible;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.sidebar .button,
.topbar .button {
  position: relative;
  display: inline-block;
  white-space: normal;
  margin: 2px;
  padding: 6px;
}
.topbar {
  margin-bottom: 5px;
}
.topbar .btn {
  background: rgba(220, 216, 94, 0.75);
}
.topbar .btn:hover {
  background: #f2ee67;
}
.sidebar {
  white-space: normal;
}
.sidebar .button {
  width: 120px;
}
.sidebar .save,
.sidebar .recover,
.sidebar .clear {
  width: 70px;
}
.sidebar .save {
  background: rgba(57, 177, 77, 0.75);
}
.sidebar .recover {
  background: #08f;
}
.sidebar .clear {
  background: #f00;
}
.sidebar .busy {
  background: #888 !important;
  opacity: 0.6;
}
.btn-sidebar {
  display: inline-block;
  background: #aaaaaa !important;
  padding: 3px 15px 3px 15px;
  text-align: center;
  border-radius: 5px;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
.btn-sidebar:hover {
  background: #888888 !important;
}
.btn-sidebar:active,
.btn-sidebar.active {
  background: #bbbbbb !important;
  color: #fff;
  text-shadow: #222 1px 1px 1px;
}
#details {
  display: none;
  position: relative;
  top: 5px;
  left: 0px;
  right: 0px;
  padding: 5px;
  min-height: 30px;
  margin-bottom: 100px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
}
.col-1,
.col-2 {
  vertical-align: top;
}
.numeric-prop {
  padding: 3px;
}
.numeric-prop .col-1 {
  width: 200px;
  text-align: right;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
.numeric-prop .col-2 input {
  width: 80px;
  text-align: right;
}
.btn-large {
  width: 120px !important;
  padding: 14px !important;
  margin: 0px;
}
.btn {
  background: rgba(57, 177, 77, 0.75);
  margin-bottom: 4px;
  margin-right: 4px;
  border-radius: 10px;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
.btn:hover {
  background: #3fc355;
  box-shadow: 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff;
  text-shadow: 0px 0px 3px #000, 0px 0px 3px #000, 0px 0px 3px #000;
  color: #fff;
}
.btn .icon {
  padding-left: 3px !important;
  padding-right: 3px !important;
}
.dropdown-list {
  width: 50vw;
  position: absolute;
  display: inline-block;
  padding: 6px;
  background: #fff;
  column-count: 3;
  column-width: 90px;
  border: solid 2px #000;
  z-index: 9999;
  margin-bottom: 20px;
  top: 0px;
  left: 0px;
  border-radius: 10px;
}
.dropdown-list .isSelected {
  background: #ccc;
}
.dropdown-list div {
  padding: 2px 4px 2px 4px;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
}
.dropdown-list div:hover {
  background: #22f;
  color: #fff;
}
.item.isSelected .btn {
  background: #44d45c;
  color: #fff;
  text-shadow: #222 1px 1px 1px;
}
.light-item,
.action-item {
  margin-bottom: 5px;
}
.light-item {
  padding: 0;
}
.definable-values .col-1,
.definable-values .col-2 {
  display: inline-block;
}
.definable-values .col-1 {
  width: 200px;
}
.light-sequence,
.action-sequence {
  overflow: hidden;
}
.light-sequence div,
.action-sequence div {
  vertical-align: top;
}
.light-sequence .col-1,
.action-sequence .col-1 {
  width: 150px;
  max-width: 150px;
}
.light-sequence .panel .ring-sequence,
.light-sequence .panel .strip-sequence {
  display: inline-block;
  width: 49%;
}
.view {
  overflow: visible;
}
.view table {
  table-layout: fixed;
  border-spacing: 8px;
  border-collapse: separate;
}
.panel {
  width: 100%;
  display: block;
  padding: 2px;
  margin: 0;
  overflow: visible;
  border-radius: 10px;
}
.side-left .btn {
  width: 100%;
  white-space: normal;
}
.action-header {
  display: inline-block;
}
.action-header i {
  display: inline-block;
  width: 100px;
  margin-right: 3px;
  text-align: right;
}
.action-param {
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 3px;
  border-radius: 10px;
}
.ara-command {
  background: rgba(105, 72, 177, 0.75);
  min-width: 150px;
}
.ara-command:hover {
  background: #895ee6;
}
.suggested-names-panel {
  width: 200px;
  column-count: 1;
}
.ring-sequence,
.strip-sequence {
  display: inline-block;
  margin: 0;
  margin-top: 5px;
}
.ring-sequence .break,
.strip-sequence .break {
  padding-left: 20px;
}
.light-comp {
  position: relative;
  background: #fff;
  padding: 10px;
  width: 100%;
  height: 285px;
  border-radius: 10px;
}
.light-comp .center {
  position: absolute;
  top: 60%;
  left: 50%;
}
.light-comp .bulb {
  display: block;
  position: absolute;
  border: solid 2px #000;
  background: #555;
  cursor: pointer;
  text-align: center;
}
.light-comp .bulb::after {
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
  font-weight: bold;
}
.light-comp .bulb:hover {
  border-color: #444;
}
.light-comp .bulb-off {
  opacity: 0.5;
  border: dotted 2px #888;
}
.light-comp .bulb-full::after {
  content: '\00f0eb';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
.light-comp .bulb-half::after {
  content: '\0000bd';
}
.light-comp .bulb-quarter::after {
  content: '\0000bc';
}
.light-comp .bulb-fadeon::after {
  content: '\0025E2';
}
.light-comp .bulb-fadeoff::after {
  content: '\0025E3';
}
.light-comp .bulb-fadehalf::after {
  content: '\0025B3';
}
.ring-light .bulb {
  width: 32.5px;
  height: 32.5px;
  border-radius: 12.5px;
}
.ring-light .bulb-off {
  width: 25px;
  height: 25px;
}
.ring-light .center {
  background: #f0f;
}
.ring-light .bulb-0 {
  left: 0;
  top: -60px;
}
.ring-light .bulb-1 {
  left: 39.6px;
  top: -39.6px;
}
.ring-light .bulb-2 {
  left: 60px;
  top: 0;
}
.ring-light .bulb-3 {
  left: 39.6px;
  top: 39.6px;
}
.ring-light .bulb-4 {
  left: 0;
  top: 60px;
}
.ring-light .bulb-5 {
  left: -39.6px;
  top: 39.6px;
}
.ring-light .bulb-6 {
  left: -60px;
  top: 0;
}
.ring-light .bulb-7 {
  left: -39.6px;
  top: -39.6px;
}
.strip-light .bulb {
  width: 30px;
  height: 25px;
  border-radius: 5px;
}
.strip-light .bulb-0 {
  left: -132px;
  top: 0;
}
.strip-light .bulb-1 {
  left: -99px;
  top: 0;
}
.strip-light .bulb-2 {
  left: -66px;
  top: 0;
}
.strip-light .bulb-3 {
  left: -33px;
  top: 0;
}
.strip-light .bulb-4 {
  left: 0px;
  top: 0;
}
.strip-light .bulb-5 {
  left: 33px;
  top: 0;
}
.strip-light .bulb-6 {
  left: 66px;
  top: 0;
}
.strip-light .bulb-7 {
  left: 99px;
  top: 0;
}
.steps {
  margin-top: 5px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 10px;
}
.steps .step {
  border-bottom: solid 1px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
.steps .step .btn {
  padding: 3px;
  color: #000;
}
.steps .step .btn:hover {
  color: #fff;
}
.steps .step.isSelected {
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
  text-shadow: #222 1px 1px 1px;
}
.steps .step:last-child {
  border-bottom: none;
}
.steps input {
  color: #000 !important;
}
.subheader {
  display: inline-block;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
  font-size: 1.1em;
}
.subpanel {
  background: rgba(0, 0, 255, 0.5);
  padding: 5px;
  border-radius: 10px;
}
.bulb-statuses {
  font-family: monospace;
  white-space: pre;
}
.bulb-stat {
  display: inline-block;
  width: 25px;
  padding: 2px;
  font-weight: bold;
}
.color-picker {
  font-weight: bold;
  display: inline-block;
  width: 5em;
  text-shadow: #fff 1px 1px 1px;
  color: #000;
}
.step-modes {
  column-count: 1;
  width: 100px;
}
.audio-list {
  column-count: 2;
  width: 270px;
}
.audio-name {
  width: 100px;
  font-size: 75%;
}
.force-wide .ring-sequence,
.force-wide .strip-sequence {
  display: block !important;
  width: 100% !important;
}
@media screen and (max-width: 990px) {
  .ring-sequence .break,
  .strip-sequence .break {
    display: block !important;
    padding-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 790px) {
  .ring-sequence,
  .strip-sequence {
    display: block !important;
    width: 100% !important;
  }
}
@media screen and (max-width: 684px) {
  .light-checkboxes .spacer-1 {
    display: block;
  }
}
@media screen and (max-width: 368px) {
  .numeric-prop .col-1 {
    text-align: left;
    width: 100%;
  }
  .numeric-prop .col-2 input {
    text-align: left;
  }
}
@media screen and (max-width: 240px) {
  .numeric-prop .col-1 {
    text-align: left;
    width: 100%;
  }
  .numeric-prop .col-2 input {
    text-align: left;
  }
}
