

<div class="header">
    <h1 class="title">$projectName</h1>

    <div class="sidebar">
        <span class="shadowy padded-5">Sheet:</span>
        <input type="text" class="digits-2" :value="currentSheetID" @keyup="currentSheetUpdate($event.target.value)">
        
        <div class="button" :class="{ active: view==0 }" @click="changeView(0)">DefinableValues</div>
        <div class="button" :class="{ active: view==1 }" @click="changeView(1)">LightSequence</div>
        <div class="button" :class="{ active: view==2 }" @click="changeView(2)">ActionSequence</div>
        <div class="button" :class="[statusSaveButton.toLowerCase(), isBusy ? 'busy' : '']" @click="handleSaveButton($event)" v-html="statusSaveButton">Save</div>
    </div>
</div>

<div id="details">
    <view-tab v-if="view==0" class="view definable-values">
        <comp v-for="def in currentSheet.definableValues" v-bind:obj="def"></comp>
    </view-tab>

    <view-tab v-if="view==1" class="view light-sequence">
        <table width="100%">
            <tr>
                <td class="col-1 side-left">
                    <btn icon="plus-square" label="Light" v-on:click="addLight()"></btn>
                    <draggable :list="currentSheet.lightSequence">
                        <light-item v-for="def in currentSheet.lightSequence" v-bind:obj="def">
                        </light-item>
                    </draggable>
                </td>

                <td class="col-2">
                    <div class="panel" v-if=currentLightItem>

                        <div class="margin-top-2 padded-5 v-align-mid">
                            <btn class="padded-5" icon="trash-o" title="Delete item" @click="removeLight"></btn>
                            <btn class="padded-5" icon="clone" title="Clone item" @click="copyLight(currentLightItem)"></btn>

                            <i>Name:</i>
                            <input v-model:value="currentLightItem.name" />
                        </div>

                        <div class="padded-3 ring-sequence">
                            <h3>Ring Sequence</h3>
                        </div>
                        <div class="padded-3 strip-sequence">
                            <h3>Strip Sequence</h3>
                            <br/><br/><br/><br/>
                            Testing layout, a very long layout test that is.
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </view-tab>

    <view-tab v-if="view==2" class="view action-sequence">
        <table width="100%">
            <tr>
                <td class="col-1 side-left">
                    <btn icon="plus-square" label="Action" v-on:click="addAction()"></btn>
                    <draggable :list="currentSheet.actionSequence">
                        <action-item v-for="def in currentSheet.actionSequence" v-bind:obj="def">
                        </action-item>
                    </draggable>
                </td>

                <td class="col-2">
                    <div class="panel" v-if=currentActionItem>
                        <div class="padded-3 v-align-mid">
                            <btn class="padded-5" icon="trash-o" title="Delete item" @click="removeAction(def)"></btn>
                            <btn class="padded-5" icon="clone" title="Clone item" @click="copyAction(currentActionItem)"></btn>
                            <btn class="padded-5" icon="plus-square" title="Add an Action Parameter" label="Param" v-on:click="addActionParam()"></btn>

                            <div class="action-header">
                                <i>Name:</i> <input class="" v-model:value="currentActionItem.name"> <br/>
                                <i>Params Count:</i> <i style="text-align: left;" v-html="currentActionItem.actions.length"></i>
                            </div>


                        </div>

                        <draggable class="padded-3 strip-action"
                                   :list="currentActionItem.actions"
                                    :options="{ handle: '.drag-handle' }">
                            <div class="border padded-5 action-param"
                                 v-for="actionParam in currentActionItem.actions">

                                <div class="inline-block">
                                    <span class="">
                                        <btn class="padded-5" icon="trash-o" title="Delete param" @click="removeActionParam(actionParam)"></btn>
                                        <btn class="padded-5" icon="clone" title="Clone param" @click="copyActionParam(actionParam)"></btn>
                                        <btn class="padded-5 drag-handle" icon="sort" title="Sort param"></btn>

                                        <!-- "Take Off" DropDown menu -->
                                        <span class="dropdown">
                                            <btn class="padded-5 ara-command"
                                                 @click="setCurrentDropDown(actionParam)"
                                                 :label="actionParam.type.name">
                                            </btn>
                                            <div class="dropdown-list ara-command-panel" v-if="currentDropDown==actionParam" @click="selectActionType(actionParam, $event)">
                                                <div v-for="(araCmd, araID) in hardcoded.AraCommands" v-html="araCmd.name" :data-index="araID"></div>
                                            </div>
                                        </span>
                                    </span>

                                    <div class="nowrap head">
                                        <span class="nowrap action-header">
                                            <i>Time:</i>
                                            <input class="digits-3" v-model:value="actionParam.time">
                                        </span>
                                        
                                        <br/>
                                        
                                        <span class="nowrap action-header">
                                            <i>Elevation:</i>
                                            <input class="digits-3" v-model:value="actionParam.elevation">
                                        </span>
                                    </div>
                                </div>

                                
                                <br/>
                                <i class="spacer-1 nowrap">
                                <input type="checkbox" v-model:value="actionParam.waitForRing">
                                <i>Wait For Ring</i>
                                </i>

                                <i class="spacer-1 nowrap">
                                <input type="checkbox" v-model:value="actionParam.waitForStrip">
                                <i>Wait For Strip</i>
                                </i>

                                <i class="spacer-1 nowrap">
                                <input type="checkbox" v-model:value="actionParam.waitForYaw">
                                <i>Wait For Yaw</i>
                                </i>
                            </div>
                        </draggable>

                    </div>
                </td>
            </tr>
        </table>
        
    </view-tab>
</div>

