<div class="header">
    <h1 class="title" v-html="proj.name">&nbsp;</h1>

    <div class="sidebar">
        <div class="button" :class="{ active: view==0 }" @click="changeView(0)">DefinableValues</div>
        <div class="button" :class="{ active: view==1 }" @click="changeView(1)">LightSequence</div>
        <div class="button" :class="{ active: view==2 }" @click="changeView(2)">ActionSequence</div>
    </div>
</div>

<div id="details">
    <view-tab v-if="view==0" class="view definable-values">
        <comp v-for="def in jsonData.definableValues" v-bind:obj="def"></comp>
    </view-tab>

    <view-tab v-if="view==1" class="view light-sequence">
        <div class="col-1">
            <comp v-for="def in jsonData.lightSequence" v-bind:obj="def"></comp>
            <btn label="Add Light" v-on:click="addLight" />
        </div>
        <div class="col-2">
            <light-item-panel v-if=currentLightItem lightItem="currentLightItem"></light-item-panel>
        </div>
    </view-tab>

    <view-tab v-if="view==2" class="view action-sequence">
        <comp v-for="def in jsonData.actionSequence" v-bind:obj="def"></comp>
        <btn label="Add Action" v-on:click="addAction" />
    </view-tab>
</div>

